<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../style.css">
    <title>Home Page </title>
</head>
<body>
    <h1>Get Maybelline Products between a range of Prices</h1>
    <form action="../server.js" method="get">
        <input type="text" value="<%= mainPage.name%">
        <input type="text" value="<%= greater%>">
        <input type="text" value="<%= less%>">
        <button type="submit">GET</button>



    </form>
    <script src="server.js"></script>
</body>
</html>